<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ELITTE"
        tools:targetApi="tiramisu"
        android:enableOnBackInvokedCallback="true">
        <activity android:name=".Page.LearningPage"
            android:exported="true">

        </activity>
        <activity android:name=".Page.HomePage"
            android:exported="true">

        </activity>
        <activity
            android:name=".Page.NavigationMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Page.ListClauseActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Page.ClauseActivity"
            android:exported="false" />
        <activity
            android:name=".Page.ListPartOfSpeechActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Page.PartOfSpeechActivity"
            android:exported="false" />
        <activity
            android:name=".Page.ListTenseActivity"
            android:exported="true"></activity>
        <activity
            android:name=".Page.TenseActivity"
            android:exported="true"></activity>
        <activity
            android:name=".Page.RegisterPage"
            android:exported="true"></activity>
        <activity
            android:name=".Page.VocabularyPage"
            android:exported="false" />
        <activity
            android:name=".Page.GrammarPage"
            android:exported="true">

        </activity>
        <activity
            android:name=".Page.MainActivity"
            android:exported="true"></activity>
        <activity
            android:name=".Page.LoginPage"
            android:exported="true"></activity>
    </application>

</manifest>